

#navbar {
  background-color: var(--theme-color-base);
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  text-align: center;
  padding: 8px 0 8px 0;
  z-index: 100;
}

.container {
  width: 100%;
  max-width: 1024px;
  display: inline-block;
  text-align: left;
}

#navbar .container a {
  color: white;
  padding-left: 16px;
  font-size: 20px;
}

#navbar .container a:hover {
  text-decoration: none;
}

#loginbuttons {
  float: right;
}

#loginbuttons button {
  color: white;
}

#content {
  min-height: 100%;
  position: relative;
  padding-top: 52px;
  background-color: var(--theme-color-very-light);
  text-align: center;
}